<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>

    <add name="DatabaseConnectionString"

         connectionString="Data Source=localhost; Initial Catalog=BulaBula; Integrated Security=SSPI;"
         
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />

    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" timeout="2880" />
    </authentication>

      <sessionState timeout="60"/>
    <trace enabled="true" requestLimit="40" localOnly="false"/>
      
   
    <httpRuntime executionTimeout="1800"
                    maxRequestLength="1048576"
                    useFullyQualifiedRedirectUrl="false" />
    
    
      <customErrors mode="Off" >
          <!--<error statusCode="500" redirect="~/Error_Pages/500.htm" />
          <error statusCode="404" redirect="~/Error_Pages/404.htm" />
          <error statusCode="401" redirect="~/Error_Pages/401.htm" />-->
      </customErrors>

    
      
    </system.web>

    

    
  
    
    
    <system.webServer>
        
        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="300.00:00:00" />
        </staticContent>  
        <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
            <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll"/>
            <dynamicTypes>
                <add mimeType="text/*" enabled="true"/>
                <add mimeType="message/*" enabled="true"/>
                <add mimeType="application/*" enabled="true"/>
                <add mimeType="*/*" enabled="false"/>
            </dynamicTypes>
            <staticTypes>
                <add mimeType="text/*" enabled="true"/>
                <add mimeType="message/*" enabled="true"/>
                <add mimeType="application/javascript" enabled="true"/>
                <add mimeType="*/*" enabled="false"/>
            </staticTypes>
        </httpCompression>
        <urlCompression doStaticCompression="true" doDynamicCompression="true"/>
      <validation validateIntegratedModeConfiguration="false"/>
      <modules runAllManagedModulesForAllRequests="true">
      </modules>

      <!-- ...ROUTING MODULES --><!--
      <modules runAllManagedModulesForAllRequests="true">

        <add name="UrlRoutingModule"
               type="System.Web.Routing.UrlRoutingModule, 
                   System.Web.Routing, Version=3.5.0.0, 
                   Culture=neutral, 
                   PublicKeyToken=31BF3856AD364E35" />
        --><!-- ... --><!--

      </modules>
      <handlers>

        <add name="UrlRoutingHandler"
              preCondition="integratedMode"
              verb="*" path="UrlRouting.axd"
              type="System.Web.HttpForbiddenHandler, 
                  System.Web, Version=2.0.0.0, Culture=neutral, 
                  PublicKeyToken=b03f5f7f11d50a3a" />
        --><!-- ... --><!--

      </handlers>-->
      
      
    </system.webServer>


  
    
 

    
    
</configuration>
